.login-container {
  background-color: rgb(0, 0, 0) !important;
  height: 100vh;
  margin: 1rem;
  padding: 1rem;
}

.login-header {
  border-radius: 1rem;
  border: 1px solid #ffff;
  padding: 1rem;
}

.login-header h1 {
  color: #ffff;
  text-align: center;
  font-size: 5rem;
  margin: 0;
}

.login-header p {
  font-size: 10rem;
  margin: 0;
  text-align: center;
  color: #ffff;
}

.login {
  display: flex;
  overflow: hidden;
  height: 50%;
  flex-direction: row;
  border: 1px solid #ffff;
  border-radius: 1rem;
  margin: 1rem auto;
}

.login-form {
  overflow: hidden;
  color: #ffff;
  background-color: #7b7b7b2e;
  flex-direction: column;
  border: 1px solid #ffff;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  width: 30%;
  text-align: center;
}

.login-form h2 {
  font-size: 2rem;
  text-align: left;
}

.login-image {
  width: 100%;
}

.image{
  height: 90%;
  width: 98%;
  margin: 1rem;
}

.email,
.password {
  display: flex;
  flex-direction: column;
  padding: .7rem 1rem;
  width: 70%;
  margin: 1rem auto;
}

.login-button {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  border: 0;
  font-size: 0.8rem;
  font-weight: 700;
  height: 2rem;
  width: 30%;
  margin: auto;
}

.login-button:hover {
  background-color: rgb(249, 209, 158);
}

.error {
  width: 60%;
  margin: auto;
  padding: 0.5rem 0;
  font-size: 0.8rem;
  border-radius: 0.5rem;
}

::-webkit-scrollbar {
  display: none;
}
